@page "/BlackJack"

<PageTitle>Black Jack</PageTitle>
<h1>Black Jack</h1>

<p role="status" id="Player">Player worth: @p.worth</p>
<p role="status">Dealer worth: @dealer.worth</p>
<button class="btn btn-primary" id="startGame" name="startGame"@onclick="startGame">Start Game</button>

<div>
    <!--    <button class="btn btn-primary" id="double" @onclick="_double">Double</button> -->
        <button class="btn btn-primary" id="hit" @onclick="hit">Hit</button>
        <button class="btn btn-primary" id="stand" @onclick="stand">Stand</button>
    </div>
    <!-- <button class="btn btn-primary" id="split" @onclick="split">Split</button> -->
@code {
    //private int currentCount = 0;

    Random rnd = new();
    Player p = new();
    Player dealer = new();

    private void startGame()
    {
        p.worth = 0;
        dealer.worth = 0;
        //Einsatz
        addPlayerCard(p);
        addPlayerCard(dealer);
        addPlayerCard(p);
    }
    
    private void addPlayerCard(Player p)
    {
        int value = rnd.Next(2, 14);
        if (value >9 && value < 14)
        {
            value = 10;
        }
        else if (value == 14)
        {
            if (p.worth + value < 22)
                value = 11;
            else
                value = 1;
        }
        
        p.worth += value;
    }
    
    private void _double()
    {
        
    }
    
    private void hit()
    {
        addPlayerCard(p);
        if (p.worth == 21)
        {
            //BlackJack
            startGame();
        }

        if (p.worth > 21)
        {
            //Bust
            //Dealer wins
            startGame();
        }
    }
    
    private void stand()
    {
        while (dealer.worth < 17)
        {
            addPlayerCard(dealer);   
        }
        if (dealer.worth <= 21) {
            if (p.worth < dealer.worth)
            {
                //Dealer wins
                startGame();
                return;
            }
            if (p.worth == dealer.worth)
            {
                //draw
                startGame();
                return;
            }
            
        }
        //Player wins
        startGame();
    }
    
    private void split()
    {
        
    }
    
}